* {
  box-sizing: border-box;
}

/* stile generico per il body */
body {
  width: 70%;
  margin: 0 auto;
  font-family: 'Cantarell', sans-serif;
  background-image: url('../img/ghibli.jpg');
  background-size: cover;
}

/* stile sezione logo */
#section {
  border-bottom: 1px solid white
}
#logo {
  width: 100px;
  vertical-align: middle;
}
#logo-text {
  color: #fff ;
  font-size: 35px;
}

/* stile sezione ricerca + submit */
#search {
  margin: 15px 0;
  border-bottom: 1px solid white;
  margin: 15px 0;
  padding-bottom: 10px;
}
#submit {
  border-radius: 25%
}
#text {
  color: #fff;
  font-size: 25px;
}
.number {
  background-color: #E93410;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin-top: 15px;
}

/* stile sezione lista email */
#email {
  padding: 10px;
}

/* stile sezione emal non lette */
.read {
  background-color: rgba(170, 237, 33, 0.8);
  padding: 5px;
  /* border: 1px solid #000; */
  margin: 2px;
}
.strong {
  font-weight: 700;
}
.strong::before{
  content:'\2729';
}
.light {
  color: #5F6752;
}
.light::after {
  content: '...'
}

/* stile sezione email già lette */
.unread {
  background-color: rgba(170, 237, 33, 0.5);
  padding: 5px;
  /* border: 1px solid #000; */
  margin: 2px;
}
#strong-unread {
  font-weight: 700;
}
#strong-unread::before {
  content: '\272D';
}

/* stile per footer */
footer {
  border-top: 1px solid white;
  margin: 15px 0;
  padding-top: 10px;
  text-align: center;
  color: #fff;
}
#gmail {
  font-size: 30px;
  font-weight: 700;
  vertical-align: bottom;
}
#whrite {
  font-size: 15px;
  font-weight: 400;
}
